.welcome-text-container {
	padding: 100px;
	color: #fff
}

.welcome-text-container .large-text {
	font-size: 47px;
	font-weight: bold;
}

.welcome-text-container .large-text span {
	color: #ff0;
}

.welcome-text-container .info-text {
	margin-top: 48px;
    line-height: 165%;
    font-size: 17px;
}

.section.features {
	padding-top: 30px;
}

.section.features .grid-container {
	margin-top: 30px;
}

.section.features .content {
	margin-top: 15px;
}