#top {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999999999999;
	background: #f54343;
	height: 50px;
	line-height: 50px;
	padding-right: 20px;
	box-shadow: 0 1px 12px #0000007d;
}

#top .sitename a {
	width: 190px;
	height: 49px;
    line-height: 50px;
    background: #de3838;
    display: block;
    color: yellow;
    padding: 0 10px;
    border-bottom: 1px solid #e8e802;
}

#top .responsive-toggle {
	margin-left: 20px;
}

#top a {
	color: #ffffff;
}

#top .dropdown-menu {
	width: 180px;
	padding: 5px 0;
}

#top .dropdown-menu a {
	line-height: 100%;
}

#top .fa-caret-down {
	color: #ff9589;
}

.sidenav {
	width: 210px;
	position: fixed;
	left: 0;
	top: 50px;
	bottom: 0;
	background: #af2a2a;
	z-index: 999;
	transition: width 0.28s;
}

.sidenav .sidenav-menus {
	font-size: 15px;
	margin-top: 18px;
}

.sidenav-menus .icon-wrapper {
	display: inline-block;
	width: 11px;
}

.sidenav-menus .text-wrapper {
	margin-left: 20px;
}

.sidenav .sidenav-menus li {
	padding: 0 5px;
	margin-bottom: 1px;
}

.sidenav .sidenav-menus a {
	color: #ffaba3;
	display: block;
	padding: 15px 10px;
	border-radius: 3px;
	transition: background 0.15s;
	white-space: nowrap;
}

.sidenav .sidenav-menus a:hover {
	background-color: #a22727;
	color: #ffffff;
}

.sidenav .sidenav-menus li.active a {
	background: #901a1a;
	color: #ffffff;
	box-shadow: 0 1px 2px #63180e;
}

.sidenav .sidenav-menus li .fa {
	font-size: 20px;
}

.main-content {
	margin-left: 210px;
	padding-top: 50px;
	position: relative;
}

body {
	background: #fdfdfd !important;
}

.main-content .navbar {
	padding: 0 20px;
}

.main-content .content {
	padding: 0px 20px;
}

.main-content .content .p {
	margin-top: 30px;
}

.main-content .content .navigation.header {
	font-size: 17px;
}

.search-box {
	display: inline-block;
}

table td .status {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#top .hide-responsive {
		display: none;
	}

	#top .sitename a {
		width: 30px;
		text-align: center;
	}

	.sidenav {
		width: 50px;
	}

	.sidenav .sidenav-menus .text-wrapper {
		display: none;
	}

	.main-content {
		margin-left: 50px;
	}

	.sidenav.expanded {
		width: 210px;
	}

	.sidenav a {
		overflow: hidden;
	}

	.sidenav.expanded .text-wrapper {
		display: inline;
	}
}

.overview {
	background: #ffffff;
    box-shadow: 0 5px 7px #efefef;
    border-radius: 2px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.overview .top {
	position: relative;
    padding: 10px 10px 10px 10px;
}

.overview .top .fa {
	position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #e5e5e5;
}

.overview .top .header {
	font-size: 15px;
	color: #333;
}

.overview .top .total {
	color: #c00;
	font-size: 12px;
	margin-top: 5px;
}

.overview .body {
	border-top: 1px solid #f0f0f0;
	text-align: center;
}

.overview .body .c {
	padding: 20px 0;
	margin-right: 30px;
	display: inline-block;
}

.overview .body .c .num {
	font-size: 22px;
	font-weight: bold;
}

.overview .body .c .label {
	font-size: 12px;
	color: #777;
	margin-top: 4px;
	/*text-transform: uppercase;*/
}

.overview .body .c.in-draft .num {
	color: #333;
}

.overview .body .c.under-investigation .num {
	color: blue;
}

.overview .body .c.resolved .num {
	color: green;
}

@media screen and (max-width: 768px) {
	.overview {
		width: 100%;
		float: none;
		margin-top: 10px;
	}
}

@media screen and (max-width: 500px) {
	.overview .body .c {
		display: block;
	}
}

/*.overview .body .f-left .label {
	font-size: 10px;
	color: #777;
	margin-top: 6px;
	border-radius: 10px;
	padding: 1px 8px;
	color: #fff;
}

.overview .body .f-left.in-draft .label {
	background: #333;
}

.overview .body .f-left.under-investigation .label {
	background: blue;
}

.overview .body .f-left.resolved .label {
	background: green;
}*/
