.sidenav {
	width: 220px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #af2a2a;
}


.sidenav .sitename a {
	height: 50px;
    line-height: 50px;
    background: #de3838;
    display: block;
    color: yellow;
    padding: 0 10px;
    border-bottom: 1px solid #e8e802;
}

.sidenav .sidenav-menus {
	font-size: 16px;
	margin-top: 18px;
}

.sidenav .sidenav-menus a {
	color: #ffffff;
	display: block;
	padding: 15px 10px;
}

.sidenav .sidenav-menus a:hover {
	background-color: #a22727;
}

.sidenav .sidenav-menus li.active a {
	background: #901a1a;
}

.main-content {
	margin-left: 220px;
	padding-top: 50px;
}

.main-content .navbar {
	height: 50px;
	line-height: 50px;
	background: #f54343;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
	left: 220px;
}

.main-content .navbar .dropdown-menu {
	width: 180px;
}

.main-content .navbar .dropdown-menu .bio {
	line-height: 100%;
	padding: 12px 8px;
	border-bottom: 1px solid #dfdfdf;
	font-weight: 700;
}

.main-content .navbar .dropdown-menu a {
	line-height: 100%;
}

body {
	background: #fdfdfd !important;
}

.main-content .navbar {
	padding: 0 20px;
}

.main-content .navbar a {
	color: #ffffff;
}

.main-content .content {
	padding: 0px 20px;
}

.main-content .content .p {
	margin-top: 30px;
}

.main-content .content .navigation.header {
	font-size: 17px;
}

.search-box {
	display: inline-block;
}

table td .status {
	cursor: pointer;
}
