@font-face {
    src: url('../fonts/karla.ttf');
    font-family: 'karla';
}

body {
    font-family: 'karla';
    line-height: 100%;
}

body, input, textarea, h2, h4, p, div, ul, li, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

input,
textarea {
    font-family: inherit;
}

/* Navbar */

#navbar {
    padding: 15px 0;
}

#navbar .sitename {
    display: inline-block;
    color: yellow;
    vertical-align: middle;
    font-weight: bold;
    font-size: 23px;
}

#navbar .sitename {
    float: left;
}

.header {
    font-weight: 700;
    font-size: 24px;
    color: #555;
}

#navbar .navbar-menu {
    float: right;
}

#navbar .navbar-menu li,
#navbar .navbar-menu a {
    display: inline-block;
}

#navbar .navbar-menu li {
    margin-left: 10px;
}

#navbar .navbar-menu li a {
    color: #fff;
}

.red-bg {
    background: #ef3b3b;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media screen and (max-width:1024px) {
    .container {
        width: 900px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Floats */
.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clearfix {
    clear: both;
}

/* Text alignments */
.t-center {
    text-align: center;
}

/* Grid container */
.grid-container {
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}

.grid-container .grid-50,
.grid-container .grid-10 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.grid-container .grid-50 {
    width: 50%;
}

.grid-container .grid-10 {
    width: 10%;
}


/* Dropdowns */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    background: #ffffff !important;
    box-shadow: 0 2px 3px #ccc;
    z-index: 999999999999999;
}

.dropdown-menu li a {
    display: block;
    padding: 9px;
    color: #777!important;
}

.dropdown-menu li a:hover {
    background: #ededed!important;
    color: #333!important;
}

/* button */
.button {
    display: inline-block;
    padding: 12px 17px;
    background: #ef3b3b;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    transition: background 0.3s;
}

.button.small {
    padding: 8px 13px;
    font-size: 13px;
}

.button:hover {
    background: #ca2745;
}

form label {
    font-weight: 700;
    font-size: 13px;
    color: #444;
    margin-bottom: 3px;
    display: inline-block;
}

form .error {
    color: red;
    font-size: 11px;
    margin-top: 4px;
    background: #fdf3f3;
    padding: 0 4px;
    border-radius: 4px;
    display: none;
}

form .error.show {
    display: inline-block;
}

.required {
    font-weight: normal;
    color: #f00;
}

.text-field {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    border: 1px solid #dcdcdc;
    outline: none;
}

.text-field:focus {
    border-color: #9f9f9f;
}

form .field-section {
    margin-top: 20px;
}

form .form-section {
    margin-top: 20px;
}

form .form-section .form-section-header {
    color: #777;
}

form .form-section .form-section-body {
    margin-top: 10px;
}
