body {
	background: #fdfdfd;
}

.navigation {
	margin-top: 6px;
	font-size: 13px;
	color: #999;
}

.title {
	font-size: 35px;
	margin-top: 20px;
}

.info-wrapper {
	margin-top: 15px;
}

.info-wrapper .info {
	margin-right: 7px;
	font-size: 14px;
}

.info-wrapper .info.date {
	color: #777;
}

#map-container {
	height: 410px;
	background: #ffffff;
}

#map-container img {
	width: 100%;
	height: 100%;
}

.map-wrapper {
	margin-top: 15px;
}

.record-content {
	margin-top: 15px;
	padding-bottom: 50px;
}

.record-content.has-map .comment {
	margin-top: 15px;
	line-height: 150%;
	white-space: pre-wrap;
}

.record-content.has-map .js-coords-text {
  font-size: 13px;
  color: #555;
}

.record-content .map-wrapper {
	display: none;
}

.record-content.has-map .map-wrapper {
	display: block;
}

.media-section {
	margin-top: 30px;
}

.section-header {
	font-weight: 700;
}

.media-section .media-wrapper {
	margin-top: 10px;
}

.media-section .media {
	display: block;
	position: relative;
	width: 200px;
	height: 140px;
	background: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #efefef;
}

.media-section .media img {
	width: 100%;
	height: 100%;
}

.media-section .media .download {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	line-height: 140px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
	background: rgba(0,0,0,0.4);
}

.media-section .media:hover .download {
	opacity: 1;
}

.media-section .media .download .fa {
	vertical-align: middle;
}
