.welcome-text-container {
  padding: 100px 0;
  color: #fff
}

.welcome-text-container .large-text {
  font-size: 47px;
  font-weight: bold;
  line-height: 130%;
}

.welcome-text-container .large-text span {
  color: #ff0;
}

.welcome-text-container .info-text {
    margin-top: 14px;
    line-height: 145%;
    font-size: 19px;
    color: #ffdedb;
}

.section.features {
  padding-top: 30px;
}

.section.features .grid-container {
  margin-top: 30px;
}

.section.features .grid-container .button-area {
  margin-top: 19px;
}

.section.features .header {
  color: #8e8e8e;
}

.section.features .content {
  margin-top: 22px;
  font-size: 17px;
}

.button-area {
  margin-top: 30px;
}

.button-area .reporter-signup-btn {
  background: yellow;
  color: #ee3b3b;
  padding: 15px 31px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid yellow;
  transition: background 0.3s;
}

.button-area .reporter-signup-btn:hover {
  background: #ffff28;
}

.section.about {
    padding: 20px 0 80px 0;
    line-height: 150%;
    font-size: 18px;
}

.section.about .about-text {
  margin-top: 20px;
}

.section.report {
  padding: 30px 0 70px 0;
  background: #f9f9f9;
}

.section.report h3 {
  font-weight: normal;
  font-size: 16px;
  font-weight: 700;
  color: #555;
}

.section.report ul {
  margin-top: 25px;
}

.section.report ul li {
  margin-top: 10px;
}

.section.report ul li.etc {
  color: #777;
}

.section.report .fa-times {
  color: #c00;
}

.section.reporter .button-area {
  margin-top: 5px;
}

.section.report .grid-container {
  margin-top: 25px;
}

/*dtead {
  background: #fbfbfb;
  padding: 20px 0 40px 0;
  border-radius: 4px;
}*/

h1 {
  line-height: 150%;
}

footer {
  padding: 40px 0;
  color: #222;
  border-top: 3px solid #dfdfdf;
}

footer .social {
  margin-left: 10px;
  color: #999;

}

footer .social:hover {
  color: #5697c7;
}

@media screen and (max-width:768px) {
  #navbar {
      border-bottom: 1px solid #60bb86;
  }

  .welcome-text-container {
    padding-top: 50px;
  }

  .welcome-text-container .large-text {
    font-size: 35px;
  }

  .welcome-text-container .info-text {
    margin-top: 10px;
    font-size: 16px;
  }

  .section.report .grid-50 {
    width: 100%;
    float: none;
    margin-top: 50px;
  }
}
